<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CBSLHotelManamentSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>updateHotelServlet</servlet-name>
    <servlet-class>com.gem.servlet.updateHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateHotelServlet</servlet-name>
    <url-pattern>/updateHotelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>com.gem.servlet.updateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addHotelServlet</servlet-name>
    <servlet-class>com.gem.servlet.addHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addHotelServlet</servlet-name>
    <url-pattern>/addHotelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.gem.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.gem.servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateCurrentPassword</servlet-name>
    <servlet-class>com.gem.servlet.updateCurrentPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCurrentPassword</servlet-name>
    <url-pattern>/updateCurrentPassword</url-pattern>
  </servlet-mapping>
</web-app>